<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <img src="circuit.svg" alt="Circuit" />
    </div>
    <div>
        <a href="https://circuit-drawer.herokuapp.com/circuit.svg">visualizar apenas o circuito</a>
        <br>
        <a href="https://github.com/samuelc254/Electro-pneumatic-circuit-drawer">github do projeto</a>
    </div>
</body>

</html>